body {
    margin: auto;
    padding: auto;
}

/*  
Color Palette
#273043 Prussian blue
#9197AE Cool Gray
#F3F8F2 Mint Cream
#F02D3A Imperial Red
#DD0426 Rojo
*/
/* Start of Header*/
.header {
    background-color: #273043;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: #F3F8F2;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.headerTitle {
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
}

/* General Stuff */
.flex {
    display: flex
}

.row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.gapCustom {
    gap: 60px;
}

.gapCustom1 {
    gap: 35px;
}

.gap1 {
    gap: 50px
}


.gap2 {
    gap: 25px
}

.gap3 {
    gap: 10px
}

.gap4 {
    gap: 5px
}

.columns {
    flex-direction: column
}

/* Font Sizes*/
.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}