body {
    margin: auto;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*  
Color Palette
#273043 Prussian blue
#9197AE Cool Gray
#F3F8F2 Mint Cream
#F02D3A Imperial Red
#DD0426 Rojo
*/

/* Start of Header*/
.header {
    background-color: #273043;
    color: #F3F8F2;


}

.oswaldfont {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.headerTitle {
    border-radius: 20px;
    margin-left: 20px;
    font-size: 30px;
}

.icon {
    border-radius: 10px;
}

/* End of Header*/
/* Start of Main*/
.main {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}


.typewriter h1 {
    color: black;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: auto;
    letter-spacing: .15em;
    animation:
        typing 2.5s steps(40, end),
        blink-caret .75s step-end infinite;

}

/* The typing Effect*/
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/*The typewriter cursor effect*/
@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange
    }
}

/* General Stuff */
.flex {
    display: flex
}

.row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.gapCustom {
    gap: 60px;
}

.gapCustom1 {
    gap: 35px;
}

.gap1 {
    gap: 50px
}


.gap2 {
    gap: 25px
}

.gap3 {
    gap: 10px
}

.gap4 {
    gap: 5px
}

.columns {
    flex-direction: column
}

/* Font Sizes*/
.small {
    font-size: small;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}